@use './util' as u;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body.pop-up_open{
    overflow: hidden;
}
.App{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
}
.container{
	max-width: u.rem(1000);
	margin: 0 auto;
	padding: 0 u.rem(15);
}